In [ ]:
#Neil Arora-25070123080
# Study of list in Python

In [ ]:
list=["apple","Orange","grape","cherry"]
print(list)

In [ ]:
list2=[2,2.5,"apple",True]
print(list2)

In [ ]:
list3=["apple","Orange","apple","cherry"]
print(list3)

In [5]:
list4=["apple","banana","Orange","cherry","Mango","kiwi"]
print(list4[2])
print(list4[-4])
print(list4[2:5])
print(list4[:4])
print(list4[2:])

Orange
Orange
['Orange', 'cherry', 'Mango']
['apple', 'banana', 'Orange', 'cherry']
['Orange', 'cherry', 'Mango', 'kiwi']

In [7]:
list5=["apple","orange","Mango"]
list5[1]=2
print(list5)

['apple', 2, 'Mango']

In [22]:
list6=["apple","orange","Cherry"]
list6.append("Mango")
print(list6)

['apple', 'orange', 'Cherry', 'Mango']

In [23]:
list7=["apple","banana","orange"]
list7.insert(1,"Mango")
print(list7)

['apple', 'Mango', 'banana', 'orange']

In [25]:
list8=["apple","banana","orange"]
list9=["kiwi","mango"]
print(list8+list9)

['apple', 'banana', 'orange', 'kiwi', 'mango']

In [31]:
marks=[90,82,66,76,33]
print("MIN Marks=",min(marks))
print("MAX Marks=",max(marks))
print("Length=",len(marks))
print("SUM=",sum(marks))
print("AVG=",sum(marks)/len(marks))
print(sorted(marks))

MIN Marks= 33
MAX Marks= 90
Length= 5
SUM= 347
AVG= 69.4
[33, 66, 76, 82, 90]

In [37]:
#User maintained grocery list
# TASK:
#  create list
#  Add items
#  remove purchased items
#  Display final shopping list
grocery=["milk","bread","rice","cheese"]
grocery.append("egg")
grocery.remove("bread")
grocery.remove("rice")
print(grocery)

['milk', 'cheese', 'egg']